/* ================= GLOBAL ================= */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{

background:#f0f0f0;
min-height:100vh;

display:flex;
flex-direction:column;
align-items:center;

}

/* ================= CONTAINER ================= */

.container{

margin-top:40px;
margin-bottom: 40px;

background:linear-gradient(145deg,#f3f3f3,#f6e7b9);

padding:40px;

width:420px;

border-radius:20px;

box-shadow:0 25px 60px rgba(0,0,0,0.15);

display:flex;
flex-direction:column;

}

header h1{
color:#646464;
font-weight:600;
margin-top:25px;
}

.container h2{

text-align:center;

margin-bottom:25px;

color:#707070;

}


/* ================= INPUTS ================= */

label{

margin-top:15px;

font-weight:500;

color:#4a4a4a;   /* darker grey that matches the UI */

}

input{

margin-top:8px;

padding:8px 4px;

border:none;
border-bottom:2px solid #bdbdbd;   /* straight line */

background:transparent;

font-size:16px;

outline:none;

transition:0.3s;

}

input:focus{

border-bottom:2px solid #f5c84c;   /* gold focus */

}

input{
color:#4f4e4e;
}
/* ================= BUTTON ================= */

.calculate-btn{

margin-top:25px;

padding:12px;

border:none;

border-radius:25px;

background:#c1a862;

font-size:16px;

font-weight:600;

cursor:pointer;

transition:0.3s;

}

.calculate-btn:hover{

background:#646464;
color:#fff;

}


/* ================= RESULT ================= */

.result{

margin-top:25px;

font-size:16px;

color:#333;

text-align:center;

min-height:20px;

}


/* ================= PROGRESS BAR ================= */

.progress-container{

width:100%;

height:25px;

background:#ddd;

border-radius:20px;

margin-top:20px;
overflow: hidden;

}

.progress-bar{

height:100%;

width:0%;

background:#f5c84c;

color:#333;

font-weight:600;

display:flex;

align-items:center;

justify-content:center;

transition:width 0.4s ease;

}
